@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300&display=swap');

body {
  font-family: "Spectral";
  margin: 0;
  padding: 0;
  background-image: url(https://images6.alphacoders.com/335/335252.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #333;
  backdrop-filter: blur(5px);
}

#portal {
  border: 1px solid #fff;
  padding: 0px;
  border-radius: 100px;
  cursor: pointer;
  transition: transform 0.3s;
  width: 150px; 
  height: 150px;
  background-color: #333;
  position: relative;
  z-index: 1;
}
#portal:hover {
 transform: scale(1.2);
}
h1 {
  color: #fff;
  text-shadow: 0px 20px 2px black;
  position: relative;
  z-index: -1;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    background-image: url(cover.png);
    background-color: rgba(0, 0, 0, 1); /* Add a semi-transparent background to the wrapper */
    padding: 100px;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 0 0 1000px rgba(0, 0, 0, 1); /* Add a shadow to the wrapper */
}

@media (max-width: 768px) {
  .wrapper {
    padding: 20px; /* Adjust the padding to make it smaller on mobile */
  }
}